#spring:
#  cloud:
#    config:
#      server:
#        native:
#          search-locations: classpath:/shared
#
#  profiles:
#    active: native
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          search-paths: /
          uri: https://github.com/JavaLiwenchao/repo
      label: master

server:
  port: 9002
eureka:
  client:
    service-url:
      defaultZone: http://localhost:9527/eureka/

